@mixin banners{

  .content-banner{
    @include content-banner( white, black);
    &.honey { @include content-banner( honeydew, black); };
    &.red { @include content-banner( lighten(crimson, 50%) , black); };
    &.blue { @include content-banner( lighten(dodgerblue, 40%), black); };
  }
}

@mixin content-banner($background, $text-color){
  font-size: 3em;
  margin: 550px 0 1%;
  @include banner-color($background, $text-color);
  @include center-text(1500px, center);
  @include no-select-text(default);
  @include banner-shadow(12px, 11px, $jp-shadow);
}

@mixin banner-color($background, $text-color){
  background: $background;
  color: $text-color;
}