
#artist-menu{
  float: left;
  width: 15%;
  border-top: 1px solid #ccc;
  @include box-shadow(5px, 11px, $jp-shadow);
}

.artist-menu-link{
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  @include center-text(100px, left);
  @include transition(background 0.1s);

  .artist-name{
    margin-left: 5%;
  }

  &.active-artist{
    background: $jp-grey-light;
    .arrow{
      opacity: 1;
    }
  }

  &:hover{
    background: $jp-grey-light;
    .arrow{
      opacity: 1;
    }
  }
}

.artist{
  float: right;
  width: 85%;
  min-height: 40vh;
  border: 1px solid #ccc;
  @include box-shadow(5px, 11px, $jp-shadow);
}

.arrow{
  position: absolute;
  top: 0;  right: 0;
  opacity: 0;
  @include transition(opacity 0.1s);
}