@mixin links {
  a {
    @include tablet{ font-size: 1.7em; }
    @include phone{ font-size: 2em; }
    @include link($jp-black, $jp-grey);
    &.black { @include link($jp-grey, $jp-black); }
  }

  .app-link{
    @include transition(all 0.1s);
    @include center-text($app-header-height, center);
    padding: 5px;
    text-decoration: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 4px 4px 0 0 ;
    background: $jp-grey-light;
    color: $jp-black;

    &:hover{
      background: lighten($jp-grey, 10%);
      color: darken($jp-white, 5%);
    }

    &.active{
      background: darken($jp-grey, 10%);
      color: $jp-white;
    }
  }

}

@mixin link($text-color, $active-color) {
  font-size: 1.3em;
  font-weight: 300;
  text-decoration: none;
  @include no-select-text(pointer);
  @include transition(all 0.1s);
  @include color-link($text-color);
  &:hover{ color: #104d8d; }
  &.active-link { color: $active-color; }

}

@mixin color-link($text-color) {
  color: $text-color;
}