html,
body {
  -webkit-border-box: border-box;
  -moz-border-box: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2%;
}

#main-content {
  padding: 1%;
}

h1 {
  color: RoyalBlue;
}
